 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #ffe4c4, #db545a);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 860px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 63px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 500px;
  background-image: url("images/bula/bula1.jpg");
  background-position: 50% 50%;
}
.u-section-1 .u-image-6 {
  min-height: 500px;
  background-image: url("images/bula/cutie.jpg");
  background-position: 50% 50%;
}
.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 250px;
  background-image: url("images/bula/gera.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  min-height: 250px;
  background-image: url("images/bula/gera.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  min-height: 500px;
  background-image: url("images/bula/cutie.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-1 .u-image-1 {
    min-height: 412px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 206px;
  }

  .u-section-1 .u-image-2 {
    min-height: 206px;
  }

  .u-section-1 .u-image-3 {
    min-height: 206px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 206px;
  }

  .u-section-1 .u-image-4 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2004px;
  }

  .u-section-1 .u-image-1 {
    min-height: 631px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 323px;
  }

  .u-section-1 .u-image-2 {
    min-height: 323px;
  }

  .u-section-1 .u-image-3 {
    min-height: 309px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 309px;
  }

  .u-section-1 .u-image-4 {
    min-height: 631px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1984px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -424px;
    margin-bottom: -424px;
  }

  .u-section-1 .u-image-1 {
    min-height: 473px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 485px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 485px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 464px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 464px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 473px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1282px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 84px;
    margin-bottom: 36px;
  }

  .u-section-1 .u-image-1 {
    min-height: 298px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 305px;
  }

  .u-section-1 .u-image-2 {
    min-height: 305px;
  }

  .u-section-1 .u-image-3 {
    min-height: 292px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 292px;
  }

  .u-section-1 .u-image-4 {
    min-height: 298px;
  }
} .u-section-2 {
  background-image: linear-gradient(to bottom, #db545a, #ffe4c4), linear-gradient(to bottom, rgba(255, 228, 196, 1), rgba(255, 228, 196, 1));
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 669px;
}

.u-section-2 .u-text-1 {
  font-weight: 600;
  font-size: 3.4375rem;
  margin: 60px auto 0 0;
}

.u-section-2 .u-line-1 {
  transform-origin: right center;
  margin: 62px 0 0;
}

.u-section-2 .u-list-1 {
  width: 977px;
  margin: 60px auto 29px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 396px;
  grid-auto-columns: 100%;
  grid-gap: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-2 .u-text-2 {
  margin: 13px 0 0 121px;
}

.u-section-2 .u-group-1 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -29px auto 7px 0;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-2 .u-text-4 {
  margin: 13px 0 0 121px;
}

.u-section-2 .u-group-2 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -29px auto 7px 0;
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 20px;
}

.u-section-2 .u-text-6 {
  margin: 13px 0 0 121px;
}

.u-section-2 .u-group-3 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -29px auto 7px 0;
}

.u-section-2 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    margin-left: 84px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -86px;
    height: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: 84px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: -77px;
    margin-left: 84px;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 104px;
    margin-left: -23px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -19px;
    margin-right: 8px;
    margin-left: 98px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -54px;
    margin-bottom: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -19px;
    margin-right: 8px;
    margin-left: 98px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -54px;
    margin-bottom: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -19px;
    margin-right: 8px;
    margin-left: 98px;
  }

  .u-section-2 .u-group-3 {
    margin-top: -54px;
    margin-bottom: 0;
    margin-left: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    margin-top: -77px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    margin-top: 18px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    margin-top: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 18px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-left: 106px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -54px;
    margin-bottom: -26px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 18px;
    margin-left: 106px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -54px;
    margin-bottom: -26px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 18px;
    margin-left: 106px;
  }

  .u-section-2 .u-group-3 {
    margin-top: -54px;
    margin-bottom: -26px;
    margin-left: 9px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 433px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 313px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1;
  margin: 0;
}

.u-section-3 .u-line-1 {
  width: 200px;
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 313px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  --radius: 5px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 16px 41px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 258px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 258px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 552px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 55px;
}

.u-section-4 .u-image-1 {
  min-height: 442px;
  background-image: url("images/bula.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 442px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 91px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-4 .u-image-1 {
    min-height: 349px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 374px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-4 .u-image-1 {
    min-height: 267px;
    background-repeat: no-repeat;
    background-size: auto 80%;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-4 .u-image-1 {
    min-height: 546px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 344px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 282px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-weight: 700;
    margin-top: 8px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 18px;
  }
} .u-section-5 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, #ffe4c4, #db545a), linear-gradient(to bottom, rgba(255, 228, 196, 1), rgba(255, 228, 196, 1));
  background-size: cover, cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 625px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 89px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 70px;
  margin-bottom: 60px;
  min-height: 325px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 10px));
  min-height: 286px;
  grid-auto-columns: 369.984px 369.984px 369.984px;
  grid-gap: 15px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 33px;
  width: 33px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-style: italic;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 33px;
  width: 33px;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 20px 0 0;
}

.u-section-5 .u-text-5 {
  font-style: italic;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 33px;
  width: 33px;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 20px 0 0;
}

.u-section-5 .u-text-7 {
  font-style: italic;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 33px;
  width: 33px;
  margin: 0 auto;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 20px 0 0;
}

.u-section-5 .u-text-9 {
  font-style: italic;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-5 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-icon-5 {
  height: 33px;
  width: 33px;
  margin: 0 auto;
}

.u-section-5 .u-text-10 {
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 20px 0 0;
}

.u-section-5 .u-text-11 {
  font-style: italic;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-5 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-icon-6 {
  height: 33px;
  width: 33px;
  margin: 0 auto;
}

.u-section-5 .u-text-12 {
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 20px 0 0;
}

.u-section-5 .u-text-13 {
  font-style: italic;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 20px;
  width: 40px;
  height: 40px;
  top: 10px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 10px;
  right: 32px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 10px));
    grid-auto-columns: calc(33.333333333333336% - 10px);
  }

  .u-section-5 .u-icon-1 {
    padding: 7px;
  }

  .u-section-5 .u-icon-2 {
    padding: 7px;
  }

  .u-section-5 .u-icon-3 {
    padding: 7px;
  }

  .u-section-5 .u-icon-4 {
    padding: 7px;
  }

  .u-section-5 .u-icon-5 {
    padding: 7px;
  }

  .u-section-5 .u-icon-6 {
    padding: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    margin-top: 38px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 7.5px));
    grid-auto-columns: calc(50% - 7.5px);
    min-height: 325px;
  }

  .u-section-5 .u-gallery-nav-1 {
    left: 10px;
    top: 20px;
  }

  .u-section-5 .u-gallery-nav-2 {
    top: 20px;
    right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-list-item-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 28px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 2px;
  }

  .u-section-5 .u-list-item-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 28px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 2px;
  }

  .u-section-5 .u-list-item-3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 28px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 2px;
  }

  .u-section-5 .u-list-item-4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 28px;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 2px;
  }

  .u-section-5 .u-list-item-5 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-5 {
    padding-top: 28px;
  }

  .u-section-5 .u-icon-5 {
    margin-top: 2px;
  }

  .u-section-5 .u-list-item-6 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-6 {
    padding-top: 28px;
  }

  .u-section-5 .u-icon-6 {
    margin-top: 2px;
  }

  .u-section-5 .u-gallery-nav-1 {
    width: 30px;
    height: 30px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 3px;
  }

  .u-section-5 .u-gallery-nav-2 {
    width: 30px;
    height: 30px;
    right: 48px;
    padding: 3px;
  }
}